{% extends "mal.html" %}


{% block innhold %}

<div class="bilder">
  <div class="grid-box">
    <h1 id="topic">DIN SYKKEL</h1>
    <h1 id="topic2">VÅRT ANSVAR!</h1>
  </div>

  <div class="grid-bilde"> <img style="width: 100%; max-width: 100%;" class="mainpic"
      src="/static/video/MicrosoftTeams-image (4).png"
      alt="nærbilde av en lyseblå santa cruz bronson med svart bakgrunn">
  </div>
</div>

<div class="redirect">
  <a id="redirect" href="/redirect-to-specific-place">BESTILL SERVICE / KONTAKT OSS
    <img style="width: 8%; max-width: 100%;" src="/static/video/bubble-chat.png" alt="Text boble ikon">
  </a>
</div>


<main class="infomain">
  <div id="om-oss">
    <h2>BLI KJENT</h2>
    <p>MayerMekk er et lite sykkelverksted på Slependen, som ble startet i 2022 av Jonas Mayer.
      Kjærligheten for hobbyen og en del timer med mekking på sykler gjorde at ideen om å også
      hjelpe andre på en billigere og enklere måte, vokste.

    <p id="handle">
      - Vi har kompetansen og utstyret til det aller meste
    </p>
  </div>



  <div id="mål">
    <h2>MÅL</h2>
    <p>Vi i MayerMekk har som mål å gjøre det enklere og billigere for lokalfolket å
      ta vare på sykkelen sin. Vi jobber for at sykkelen skal overlevers kjapt for å spare kundens tid.
      Først og fremst sørger for å kunne overlevere sykkelen med stolthet!
    </p>
  </div>
</main>

{% endblock %}